
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Farm and Beef cattle management software">
    <meta name="author" content="Dmitri Saltanovich from Northern Farm">
    <meta name="generator" content="">
    <title>{% block title %}{% endblock %}</title>

    {% include '/Shared/_header.twig' %}

    <link rel="icon" type="image/png" href="/cow-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/cow-32x32.png" sizes="32x32">

    {% block header_scripts %} {% endblock %}

</head>


<body>
    {% include '/Shared/_navbar.twig' %}

    <!-- main body -->
    <main role="main" class="d-flex">        
        <!-- right side menu -->
         {% block side_menu %}{% endblock %}
        <div class="container-menu border-right pr-5 pt-4 shadow-sm bg-white">                
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted border-bottom font-weight-bolder">
                <span class=" text-uppercase">Contacts</span>               
            </h6>            
            <ul class="nav flex-column">       
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="#">                
                        <i class="fas fa-user-plus mr-2 mt-2"></i>Add Contact <span class="sr-only">(current)</span>
                    </a>
                </li>               
            </ul>               
        </div>      
        <!-- page content -->
        <div class="container-fluid">
            {% block body %}{% endblock %}  
        </div>              
    </main>


<!-- footer -->
<div>
      {% include '/Shared/_footer.twig' %}
</div>

    <!-- custom scripts -->
    {% block custom_scripts %} {% endblock %}

</body>
</html>
