<!-- top navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid pl-0">
        <div class="col-2 pl-0 pr-0">
             <div class="brand-text d-none d-md-inline-block">
                <span class="brand-text-name">Farm Management</span>
                <strong class="text-primary brand-text">Dashboard</strong>
            </div>
        </div>    

   

        <div class="col-8 pl-0">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active mr-3">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home"></i>
                            Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-feather mr-1"></i>Inventory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/cattle">Beef Cattle</a>                   
                        </div>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#"><i class="fas fa-seedling mr-1"></i>Ration</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/medication"><i class="fas fa-atom mr-2"></i>Medication</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/bookkeeping/transactions"> <i class="fas fa-dollar-sign mr-1"></i>Bookkeeping</a>
                    </li>

                      
                    {# <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dollar-sign mr-1"></i>Finances
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/finances/transactions"><i class="fas fa-money-check-alt mr-2"></i>Transactions</a>        
                            <a class="dropdown-item" href="/finances/projects"><i class="far fa-list-alt mr-2"></i>Project Planning</a>                                
                        </div>
                    </li> #}

                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#"><i class="far fa-calendar-alt mr-1"></i></i>Events</a>
                    </li>                  

                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/contacts"><i class="far fa-id-card mr-1"></i>Contacts</a>
                    </li>
                </ul>               
            </div>
        </div>

    {% if page != "/login" %}
        <div class="col-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">           
                <ul class="navbar-nav">
                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog mr-1"></i>Settings</a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/upload">Upload</a>                      
                        </div>
                    </li>
                    <a class="nav-item nav-link nav-top" href="#"><i class="fas fa-sign-out-alt mr-1"></i>logout</a>        
                </ul>    
            </div>
        </div>
    {% endif %}
</nav>

{# {% if page != "/login" %}
    <!-- second top navbar with the menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active mr-3">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home"></i>
                            Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-feather mr-1"></i>Inventory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/cattle">Beef Cattle</a>                   
                        </div>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#"><i class="fas fa-seedling mr-1"></i>Ration</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/medication"><i class="fas fa-atom mr-1"></i>Medication</a>
                    </li>
                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dollar-sign mr-1"></i>Finances
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/finances/transactions"><i class="fas fa-money-check-alt mr-2"></i>Transactions</a>        
                            <a class="dropdown-item" href="/finances/projects"><i class="far fa-list-alt mr-2"></i>Project Planning</a>                                
                        </div>
                    </li>

                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#"><i class="far fa-calendar-alt mr-1"></i></i>Events</a>
                    </li>                  

                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/contacts"><i class="far fa-id-card mr-1"></i>Contacts</a>
                    </li>
                </ul>               
            </div>
        </div>
    </nav>
{% endif %} #}