{% extends "Shared/_layout.twig" %}

{% block title %} Page Name {% endblock %}

{% block body %}

    <div class="container">

        <div class="row mb-2">
            <div class="col-12">
                <h2 class="text-dark mb-4">Page Name</h2>
                <div class="alert alert-info">
                    <i class="fas fa-info-circle fa-2x mr-2 align-middle"></i>
                    Page description
                </div>
            </div>

        </div>


    </div>

{% endblock %}

{% block custom_scripts %} {% endblock %}