
/* Roboto font */
/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


[v-cloak] {
    display: none !important;
}

body {
    /* font-family: "Roboto", sans-serif !important; */
    margin: 0;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529; */
    color: #323232;
    text-align: left;
    background-color: #f2f7f8;
}

/* ***** side menu ************** */
.container-menu {
    min-height: 100vh;
    padding-top: 80px;
    padding-right:0 !important;
    padding-left: 10px;
    width: 280px;
    background-color: white;
}


.bg-dark {
    background-color: #323232;
}

.w-5  { width: 5%; }
.w-10 { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }


/****************  Navbar Elements     **********/
span.brand-text-name {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19.2px;
    color: #ffffff;
    text-transform: uppercase;
}

strong.brand-text{
    text-transform: uppercase;
    color: #33b35a !important;
}

/************************** TOP MENU *************************************/
.dropdown-item:hover {
    background-color: #33b35a !important;
    color: #fff;
}
/********************* modal ****************************************/
.modal-content {
    background-color: #f2f7f8;
}


.footer {
    /* position: fixed;  */
    bottom: 0;
    margin-top: 30px;
    margin-bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 60px; 
    font-size: 12px;
    color: #f3f3f3;
}

/************************** Forms ************************************/
.form-check-input:checked {
    background-color: #079c2c;
    background-color: #079c2c;
    border-color: #079c2c;
}


/**************** alerts **************************/
.alert-info {
    background-color: #17a2b8;
    color: #fff;
}

.alert-danger {
    color: #fff;
    background: #dc3545;
    border-color: #d32535;
}

.alert-warning {
    color: #1f2d3d;
    background: #ffc107;
    border-color: #edb100;
}

.alert-success {
    color: #fff;
    background: #28a745;
    border-color: #23923d;
}

/************ other things *****************************/
.remove-line {
    text-decoration: line-through;
    color: black !important;
}


/******************* Seach form **************************/
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
