
<!-- side navigation -->
<div class="container-menu border-right pe-5 pt-4 shadow-sm bg-white">                
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 border-bottom font-weight-bolder">
        <a href="/contacts" class="text-muted">
            <span class=" text-uppercase">Contacts</span>               
        </a>    
    </h6>            
    <ul class="nav flex-column">       
        <li class="nav-item">
            <a class="nav-link active text-dark" href="/contacts/add">                
                <i class="fas fa-user-plus me-2 mt-2"></i>Add Contact <span class="sr-only">(current)</span>
            </a>
        </li>               
    </ul>               
</div>      