{% extends "Shared/_layout.twig" %}

{% block title %} Update Contact {% endblock %}

{%  block header_scripts %}
    <link href="/assets/components/toastr/toastr.min.css"  rel="stylesheet">

{% endblock %}

{% block body %}

<!-- side nav menu -->
{# {% include '/Contacts/_sidenav.twig' %} #}
{{ include('Contacts/_sidenav.twig') }}

<!-- page content -->
<div class="container-fluid">
    <div class="pt-4" id="contact" v-cloak>

        <div class="row mb-2 border-bottom">
            <div class="col-md-10">
                <h2 class="text-dark mb-1">Add New Contact</h2>
                {# <div class="alert alert-info">
                    <i class="fas fa-info-circle fa-2x mr-2 align-middle"></i>
                    Here you can add a completelly new contact to the list.
                </div> #}
            </div>         
        </div>

        <form>
            <div class="row">
                <div class="col-12">                  
                    <input type="hidden" name="csrf" id="csrf" value="{{ csrf }}">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputname">Name</label>
                            <input type="text" class="form-control" id="inputname" name="contact_name" placeholder="name">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputphone">Phone</label>
                            <input type="text" name="phone" class="form-control" id="inputphone" placeholder="phone">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputpemail">Email</label>
                            <input type="email" name="email" class="form-control" id="inputpemail" placeholder="email">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="form-group col-md-4">
                            <label for="inputaddress">Address</label>
                            <input type="text" name="address" class="form-control" id="inputaddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputcity">City</label>
                            <input type="text" name="city" class="form-control" id="inputcity" placeholder="city">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputprovince">Province</label>
                            <input type="text" name="province" class="form-control" id="inputprovince" value="On">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputcountry">Country</label>
                            <input type="text" name="country" class="form-control" id="inputcountry" value="Canada">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputpostal">Postal</label>
                            <input type="text" name="postal" class="form-control" id="inputpostal" placeholder="postal code">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="notes">Notes</label>                            
                            <textarea id="contact_note" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <a href="#"  class="btn btn-success float-right" v-on:click="contactAdd()">
                                <i class="fas fa-check text-small"></i>
                                Add Contact
                            </a>
                            <a href="/contacts"  class="btn btn-warning float-right mr-2">
                                <i class="fas fa-times-circle text-small"></i>
                                Cancel/Back
                            </a>
                        </div>
                    </div>                    

                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block custom_scripts %}
    <!-- tinyMice rich text editor -->
    <script type="text/javascript" src="/assets/components/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/assets/components/tinymce/jquery.tinymce.min.js"></script>

    <script src="/assets/components/toastr/toastr.min.js"></script>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="application/javascript" src="/assets/js/vue/contacts/add.js"></script>


    <script type="application/javascript">
    
        $(function () {
           
             tinymce.init({
                selector: '#contact_note',
                menubar:false,
                statusbar: false,
                toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
                plugins: 'code'
            });        

        });    
     
    </script>
{% endblock %}